@use "sass:meta";
@use "sass:math";
@use "_include/color";
@use "_include/decoration";
@use "_include/ease";
@use "_include/media_query" as mq;
@use "_include/path";
@use "_include/typography";
@use "_include/vw";
@use "_include/geom";

.detail {
  padding: 0 200px;

  @include mq.md-sm {
    padding: 0 100px;
  }

  @include mq.sm {
    padding: 0 vw.sm(20);
  }
  .main {
    box-sizing: border-box;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq.md-sm {
      flex-direction: column;
      gap: vw.sm(40);
    }
    .bg {
      aspect-ratio: 1 / 1;
      width: 70%;

      @include mq.md-sm {
        width: 100%;
        aspect-ratio: auto;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .info {
      width: 25.9%;
      color: var(--color-black);

      @include mq.md-sm {
        width: 100%;
      }

      span {
        display: block;
        color: var(--color-yellow);
        @include typography.serif-bold;
        font-size: 12px;

        @include mq.sm {
          font-size: vw.sm(11);
        }
      }

      h3 {
        color: var(--color-black);
        @include typography.serif-bold;
        font-size: 26px;
        margin-top: 20px;
        line-height: 1.5;

        @include mq.sm {
          font-size: vw.sm(20);
          margin-top: vw.sm(5);
        }
      }

      dl {
        margin: 40px 0 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include typography.serif-main-lg;
        width: 270px;

        @include mq.sm {
          width: 100%;
          margin: vw.sm(20) 0 vw.sm(10);
          @include typography.serif-main-sm;
        }

        dt {
          width: 35%;

          @include mq.sm {
            width: 26%;
          }
        }
        dd {
          width: 65%;

          @include mq.sm {
            width: 74%;
          }
        }
      }

      p {
        @include typography.serif-main-lg;
        @include mq.sm {
          @include typography.serif-main-sm;
        }
      }
    }
  }
  .content {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 940px;
    margin: 50px auto 0 auto;

    @include mq.sm {
      margin-top: vw.sm(40);
      width: 100%;
      gap: vw.sm(20);
    }

    figure.first {
      @include geom.sq("590px");
      grid-column: span 2;
      margin: 0 auto;

      @include mq.sm {
        @include geom.sq(vw.sm(250));
      }
    }

    figure {
      width: 100%;
      aspect-ratio: 1 /1;

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include typography.serif-bold;
    font-size: 26px;
    margin: 70px 0 100px;
    padding-top: 20px;

    @include mq.sm {
      font-size: vw.sm(16);
      margin: vw.sm(40) 0;
      padding-top: vw.sm(10);
      align-items: flex-end;
    }

    a {
      color: var(--color-black);
      text-decoration: none;
    }
    .btn {
      display: flex;
      gap: 30px;
      align-items: center;

      @include mq.sm {
        flex-direction: column;
        gap: vw.sm(7);
      }

      &:first-of-type .arrow {
        transform: rotate(180deg);
      }

      @include mq.sm {
        &:last-of-type .arrow {
          order: -1;
        }
      }

      .arrow {
        --arrow-size: 55px;
        width: var(--arrow-size);
        height: var(--arrow-size);
        flex-shrink: 0;
        display: grid;
        place-content: center;
        position: relative;
        z-index: 1;
        flex-shrink: 0;

        @include mq.sm {
          width: 30px;
          height: 30px;
        }

        &::after {
          box-sizing: border-box;
          content: "";
          position: absolute;
          border: solid 2px var(--color-black);
          background-color: var(--color-white);
          aspect-ratio: 1 / 1;
          width: 100%;
          height: 100%;
          border-radius: 100px;
          z-index: -1;
          transition: 0.3s;

          @include mq.sm {
            height: 30px;
          }
        }
        svg {
          aspect-ratio: 22 / 15;
          width: 17px;

          @include mq.sm {
            width: vw.sm(10);
          }

          path {
            stroke: var(--color-black);
            stroke-width: 2;
          }
        }
      }

      @include mq.has-hover {
        &:hover .arrow::after {
          background-color: var(--color-yellow);
          border: none;
          transform: scale(1.3);
        }

        &:hover svg path {
          stroke: var(--color-white);
        }
      }
    }

    .back {
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        @include path.bg-img("svg/box.svg");
        aspect-ratio: 21 / 12;
        width: 46px;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center;
        transition: 0.3s;

        @include mq.sm {
          width: vw.sm(27);
          top: vw.sm(-30);
        }
      }

      @include mq.has-hover {
        &:hover::before {
          transform: translateX(-50%) scale(1.2);
        }
      }
    }
  }
}
