@use "sass:meta";
@use "sass:math";
@use "_include/color";
@use "_include/decoration";
@use "_include/ease";
@use "_include/media_query" as mq;
@use "_include/path";
@use "_include/typography";
@use "_include/vw";
@use "_include/geom";

.work {
  padding: 84px 50px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 240px;
    .head {
      h3 {
        @include typography.en-bold;
        color: var(--color-black);
        font-size: 50px;
      }

      h2 {
        @include typography.en-regular;
        color: var(--color-blue);
        font-size: 130px;
        margin-top: 15px;
        margin-left: -8px;

        span {
          font-size: 110px;
        }
      }

      p {
        @include typography.serif-main-lg;
        color: var(--color-blue);

        @include mq.sm {
          @include typography.serif-main-sm;
        }
      }
    }

    img {
      aspect-ratio: 534 / 407;
      width: 534px;
    }
  }
  .grid {
    position: relative;
  }
  .item {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 30px;
    z-index: 1;
    background: #000;
    color: #fff;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
