@use "sass:meta";
@use "sass:math";
@use "_include/color";
@use "_include/decoration";
@use "_include/ease";
@use "_include/media_query" as mq;
@use "_include/path";
@use "_include/typography";
@use "_include/vw";
@use "_include/geom";

.work-bace {
  padding-top: 84px;
  .top {
    @include decoration.padding-inline;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mq.md-sm {
      flex-direction: column;
    }

    .head {
      h3 {
        @include typography.en-bold;
        color: var(--color-black);
        font-size: 50px;
      }

      h2 {
        @include typography.en-regular;
        color: var(--color-blue);
        font-size: 130px;
        margin-top: 15px;
        margin-left: -8px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        span {
          font-size: 110px;
        }
      }

      p {
        @include typography.serif-main-lg;
        color: var(--color-blue);

        @include mq.sm {
          @include typography.serif-main-sm;
        }
      }

      .br {
        display: none;
        @media screen and (max-width: 1100px) {
          display: block;
        }
      }
    }

    img {
      aspect-ratio: 534 / 407;
      width: 534px;

      @include mq.md-sm {
        width: 100%;
        order: 0;
        margin-top: 50px;
      }
    }

    .pc-content {
      @include mq.md-sm {
        display: contents;
      }
    }
  }
  .menu-box {
    margin-top: 80px;

    .category {
      display: flex;
      gap: 30px;
      @include typography.serif-bold;
      a {
        display: block;
        box-sizing: border-box;
        padding: 17px 30px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 100px;
        white-space: nowrap;

        &:first-child {
          border: solid var(--color-black) 2px;
          color: var(--color-black);
          padding: 17px 30px;
        }

        &:last-child {
          background-color: var(--color-blue);
          color: var(--color-white);
          padding: 19px 32px;
        }
      }
    }

    .filter-btns {
      display: flex;
      gap: 40px;
      margin-top: 35px;

      button {
        color: var(--font-gray);
        background-color: transparent;
        border: none;
        @include typography.serif-bold;
        font-size: 20px;
        transition: 0.3s;

        &:hover {
          color: var(--color-blue);
        }

        &.active {
          color: var(--color-blue);

          &::before {
            content: "・";
          }
        }
      }
    }

    @include mq.md-sm {
      order: 1;
      margin-top: 50px;
    }
  }
  .hr {
    @include decoration.padding-inline;
    margin-top: 30px;
    hr {
      margin: 0;
      background-color: var(--color-black);
    }
  }

  .grid {
    --item-margin: 17.5px;

    position: relative;
    max-width: calc(1240px + var(--item-margin) * 2);
    margin: 45px auto;
    .item {
      display: block;
      position: absolute;
      width: 23.5%;
      aspect-ratio: 1 / 1;
      margin: var(--item-margin);
      z-index: 1;
      a {
        display: block;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
