@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

section.profile {
  box-sizing: border-box;
  background-color: var(--color-gray);
  border-radius: 100px 100px 0 0;

  @include mq.sm {
    border-radius: vw.sm(40) vw.sm(40) 0 0;
  }

  .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 100px 90px 100px;

    @include mq.sm {
      padding: vw.sm(40) vw.sm(25);
      flex-direction: column;
      gap: vw.sm(30);
      display: grid;
    }

    .icon {
      @include path.bg-img("top/profile-icon.jpg");
      width: 31%;
      // height: 31%;
      aspect-ratio: 1 / 1;
      border-radius: vw.lg(50);
      position: sticky;
      top: 40px;

      @include mq.sm {
        // height: 60%;
        width: 60%;
        position: static;
        margin: 0 auto;
      }
    }

    .main {
      width: 56%;
      display: flex;
      gap: 30px;
      color: var(--color-black);
      @include mq.sm {
        display: contents;
      }

      h2 {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: row-reverse;
        gap: 15px;

        @include mq.sm {
          order: -1;
          width: 100%;
          flex-direction: column;
          align-items: center;
          gap: vw.sm(15);
        }

        .ja {
          @include typography.serif-bold;
          writing-mode: vertical-lr;
          font-size: 18px;

          @include mq.sm {
            writing-mode: horizontal-tb;
            font-size: vw.sm(18);
          }
        }
        .en {
          transform-origin: left bottom;
          transform: translateY(-100%) rotate(90deg);
          @include typography.en-regular;
          font-size: 96px;
          width: 96px;

          @include mq.sm {
            width: auto;
            transform: translateY(0) rotate(0);
            font-size: vw.sm(60);
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .head {
          @include typography.serif-bold;
          font-size: 20px;
          letter-spacing: 0;

          @include mq.sm {
            font-size: vw.sm(20);
          }

          .name {
            display: flex;
            gap: 50px;
            margin-top: 15px;

            @include mq.sm {
              gap: vw.sm(30);
              margin-top: vw.sm(15);
            }
            figure {
              @include path.bg-img("svg/name.svg");
              aspect-ratio: 144 / 45;
              width: 144px;

              @include mq.sm {
                width: vw.sm(144);
              }
            }
            .sns {
              display: flex;
              align-items: center;
              gap: 25px;

              @include mq.sm {
                gap: vw.sm(20);
              }

              a {
                width: 32px;
                @include mq.sm {
                  width: vw.sm(32);
                }
              }

              .x {
                @include path.bg-img("common/x.svg");
                aspect-ratio: 32 / 30;
              }

              .instagram {
                @include path.bg-img("common/instagram.svg");
                aspect-ratio: 1 / 1;
              }
            }
          }
        }
        .desc {
          @include typography.serif-main-lg;

          @include mq.sm {
            @include typography.serif-main-sm;
          }
        }
        .button {
          @include typography.serif-bold;
          box-sizing: border-box;
          display: flex;
          gap: 20px;
          width: 100%;
          max-width: 411px;
          padding: 20px 25px 20px 30px;
          border-radius: 100px;
          border: solid 2px var(--color-black);
          text-decoration: none;
          align-items: center;
          color: var(--color-black);
          word-break: keep-all;
          line-height: 1.7;

          @include mq.sm {
            gap: vw.sm(40);
            max-width: 100%;
            padding: vw.sm(20) vw.sm(25) vw.sm(20) vw.sm(30);
            border-radius: 100px;
          }

          p {
            display: inline-block;
            @include mq.sm {
              font-size: vw.sm(16);
              text-align: center;
            }
          }

          figure {
            @include path.bg-img("top/file.svg");
            height: 30px;
            aspect-ratio: 1 / 1;

            @include mq.sm {
              height: vw.sm(30);
            }
          }
        }

        dl {
          display: flex;
          flex-direction: column;
          gap: 20px;

          @include mq.sm {
            gap: vw.sm(20);
          }

          dt {
            @include typography.serif-bold;
            font-size: 25px;
            padding-bottom: 15px;
            border-bottom: solid 2px var(--color-black);

            @include mq.sm {
              font-size: vw.sm(25);
              padding-bottom: vw.sm(15);
            }
          }

          dd {
            @include typography.serif-main-lg;
            margin-bottom: 20px;

            @include mq.sm {
              @include typography.serif-main-sm;
              margin-bottom: vw.sm(20);
            }
          }

          .result {
            h4 {
              @include typography.serif-bold;
            }
            ul {
              margin: 10px 0 30px 0;

              @include mq.sm {
                margin: vw.sm(10) 0 vw.sm(30) 0;
              }
              li {
                list-style: disc;
                list-style-position: inside;
                margin-left: 1.4em;
                text-indent: -1.4em;
              }
            }
          }
        }
      }
    }
  }
  .sign-off {
    @include path.bg-img("svg/sign-off.svg");
    width: 100%;
    aspect-ratio: 1400 / 115;
    bottom: 0;
    left: 0;
  }
}
