@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

section.topics {
  margin-bottom: 100px;
  padding: 0 100px;

  @include mq.sm {
    padding: 0 vw.sm(20);
    margin-bottom: vw.sm(60);
  }

  h2 {
    display: flex;
    gap: 15px;
    align-items: baseline;
    justify-content: center;
    color: var(--color-black);

    @include mq.sm {
      gap: vw.sm(10);
    }

    .en {
      @include typography.en-regular;
      font-size: 90px;

      @include mq.sm {
        font-size: vw.sm(60);
      }

      .ja {
        @include typography.serif-medium;
        font-size: 20px;

        @include mq.sm {
          font-size: vw.sm(18);
        }
      }
    }
  }

  ul {
    display: flex;
    gap: 40px;
    margin-top: 45px;

    @include mq.sm {
      margin-top: vw.sm(30);
      flex-direction: column;
      gap: vw.sm(30);
    }
    li {
      width: calc(33.33% - 20px);

      @include mq.sm {
        width: 100%;
      }

      a {
        display: block;
        text-decoration: none;
        color: var(--color-black);
        @include typography.serif-main-lg;

        @include mq.sm {
          @include typography.serif-main-sm;
        }
        figure {
          overflow: hidden;
          img {
            aspect-ratio: 383 / 234;
            width: 100%;
            transition: 0.5s ease.$custom1;

            @include mq.has-hover {
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }

        .inner {
          width: 100%;
          margin: 25px 0 45px 0;
          justify-content: center;
          display: flex;
          flex-direction: column;
          gap: 10px;

          @include mq.sm {
            margin: vw.sm(25) 0 vw.sm(45) 0;
            gap: vw.sm(10);
          }
          span {
            display: block;
            font-size: 12px;
            @include mq.sm {
              font-size: vw.sm(12);
            }
          }
        }
      }
    }
  }
}
