@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

section.work {
  margin-bottom: 100px;
  padding-inline: 100px;

  @include mq.md-sm {
    margin-bottom: 70px;
    padding-inline: 0;
  }
  .inner {
    --padding-inline: 120px;
    margin: 0 auto;
    background-color: var(--color-black);
    border-radius: 50px;
    padding: 86px var(--padding-inline);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(1232px - var(--padding-inline) * 2);

    @include mq.md-sm {
      padding: 60px 25px;
      border-radius: 40px;
      flex-direction: column;
      gap: 30px;
    }
  }

  .info {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 35%;

    @include mq.md-sm {
      width: 100%;
      gap: 30px;
    }
    .en {
      @include typography.en-regular;
      font-size: clamp(60px, vw.lg(110), 110px);
    }
    .ja {
      @include typography.serif-medium;
      font-size: 20px;

      @include mq.md-sm {
        font-size: 18px;
      }
    }
    p {
      @include typography.serif-bold;
      font-size: 20px;
      line-height: 2;

      @include mq.md-sm {
        font-size: 16px;
      }
    }
  }

  .buttons {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 20px;

    @include mq.md-sm {
      width: 100%;
    }
    a {
      text-decoration: none;
      color: var(--color-white);
      position: relative;
      overflow: hidden;

      @include mq.md-sm {
        height: 50%;
        width: 100%;
      }

      .button {
        top: 0;
        left: 0;
        height: 223px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 15px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        position: relative;
        z-index: 1;

        @include mq.md-sm {
          height: 134px;
        }

        .arrow {
          --arrow-size: 70px;
          width: var(--arrow-size);
          height: var(--arrow-size);
          flex-shrink: 0;
          display: grid;
          place-content: center;

          &::after {
            content: "";
            position: absolute;
            background-color: var(--color-white);
            aspect-ratio: 1 /1;
            height: var(--arrow-size);
            border-radius: 100px;
            z-index: -1;
            transition: 0.3s;
          }
          @include mq.md-sm {
            --arrow-size: 54px;
          }
        }

        h3 {
          width: 100%;
        }

        .en {
          @include typography.en-regular;
          font-size: 60px;
          word-break: keep-all;

          @include mq.md-sm {
            font-size: 40px;
          }

          span {
            font-size: 51px;
            @include mq.md-sm {
              font-size: 34px;
            }
          }
        }

        .ja {
          @include typography.serif-medium;
        }
      }

      &.tcg {
        & figure {
          width: 100%;
          height: 100%;
          @include path.bg-img("top/fv-tcg.png", cover);
          background-position: 50% 32%;
          transition: 1s;
          position: absolute;
        }

        @include mq.has-hover {
          &:hover .arrow::after {
            background-color: var(--color-blue);
            transform: scale(1.3);
          }

          &:hover path {
            stroke: var(--color-white);
          }

          &:hover figure {
            transform: scale(1.15);
          }
        }
      }
      &.cb {
        & figure {
          width: 100%;
          height: 100%;
          @include path.bg-img("top/fv-cb.png", cover);
          background-position: 50% 42%;
          transition: 1s;
          position: absolute;
        }

        @include mq.has-hover {
          &:hover .arrow::after {
            background-color: var(--color-yellow);
            transform: scale(1.3);
          }

          &:hover path {
            stroke: var(--color-white);
          }

          &:hover figure {
            transform: scale(1.15);
          }
        }
      }
    }
  }
}
