footer.global-footer
  a.page-top-link(href="#top")
    .arrow
      include ../../assets/img/common/arrow.svg
  .main
    a(href="/#top") 
      include ../../assets/img/common/logo.svg
    p kuroyagi portfolio site
  nav
    ul
      li
        a.en(href="/#topics") TOPICS
      li
        a.en(href="/#work") WORK
        a.ja(href="/tcg/") ゲーム・TCG向け
        a.ja(href="/cb/") 児童書向け
      li
        a.en(href="/#contact") CONTACT
      li
        a.en(href="/#profile") PROFILE
  .sns
    a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
      include ../../assets/img/common/x.svg
    a.instagram(href="https://www.instagram.com/kuroyagi_11/", target="_blank", rel="noopener noreferrer")
      include ../../assets/img/common/instagram.svg
  p.copyright &copy; 2024 kuroyagi portfolio site
