footer.global-footer
  .inner
    a.page-top-link(href="#")
    .main
      figure.logo
      p kuroyagi portfolio site
    nav
      ul
        li
          a.en(href="") TOPICS
        li
          a.en(href="") PROFILE
          a.ja(href="") PDF版ポートフォリオ(ダウンロード)
        li
          a.en(href="") WORK
          a.ja(href="") ゲーム・TCG向け
          a.ja(href="") 児童書向け
        li
          a.en(href="") CONTACT
    .sns
      a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
      a.instagram(href="#")
    p.copyright &copy; 2024 kuroyagi portfolio
