footer.global-footer
  a.page-top-link(href="#top")
    .arrow
      include ../../assets/img/common/arrow.svg
  .main
    a(href="#") 
      include ../../assets/img/common/logo.svg
    p kuroyagi portfolio site
  nav
    ul
      li
        a.en(href="#topics") TOPICS
      li
        a.en(href="") WORK
        a.ja(href="/work_tcg/") ゲーム・TCG向け
        a.ja(href="") 児童書向け
      li
        a.en(href="") CONTACT
      li
        a.en(href="") PROFILE
  .sns
    a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
      include ../../assets/img/common/x.svg
    a.instagram(href="#")
      include ../../assets/img/common/instagram.svg
  p.copyright &copy; 2024 kuroyagi portfolio
