header#top.global-header
  .bar
    .main
      //- a.logo(href="/")
      a.logo(href="/")
        figure
        span kuroyagi portfolio site
      .sns
        a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
        a.instagram(href="https://www.instagram.com/kuroyagi_11/", target="_blank", rel="noopener noreferrer")
    #hambergar-btn.hamburger
      span 
      span 
      span 
  nav
    .inner
      ul
        li
          a.en(href="/#top") TOP
        li
          a.en(href="/#topics") TOPICS
        li
          a.en(href="/#work") WORKS
          .ja
            a(href="/tcg/") ゲーム・TCG向け
            a(href="/cb/") 児童書向け
        li
          a.en(href="/#contact") CONTACT
        li
          a.en(href="/#profile") PROFILE
      .sns
        a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
          include ../../assets/img/common/x.svg
        a.instagram(href="https://www.instagram.com/kuroyagi_11/", target="_blank", rel="noopener noreferrer")
          include ../../assets/img/common/instagram.svg
