header#top.global-header
  .bar
    .main
      figure.logo
      .sns
        a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
        a.instagram(href="#")
    .hamburger
      span 
      span 
      span 
  nav
    .inner
      ul
        li
          a.en(href="#") TOP
        li
          a.en(href="#") TOPICS
        li
          a.en(href="#") WORK
          .ja
            a(href="#") ゲーム・TCG向け
            a(href="#") 児童書向け
        li
          a.en(href="#") CONTACT
        li
          a.en(href="#") PROFILE
      .sns
        a.x(href="#")
          include ../../assets/img/common/x.svg
        a.instagram(href="#")
          include ../../assets/img/common/instagram.svg
