header.global-header
  .bar
    .main
      figure.logo
      a.x(href="#")
      a.instagram(href="#")
    .hamburger
      span 
      span 
      span 
  nav
    ul
      li
        a(href="#") 
      li
        a(href="#") 
      li
        a(href="#") 
      li
        a(href="#") 
      li
        a(href="#") 
    .extra.sm-only
      .hash #SAKE_AND_GYOZA
      .instagram
