section.contact
  h2
    span.en CONTACT
    span.ja ご依頼はこちら
  a.button(href="https://forms.gle/nhnSVyNUerd1AfH17", target="_blank", rel="noopener noreferrer")
    p お問い合わせ
    span Googleフォーム
    .arrow
      include ../../assets/img/common/arrow.svg
