section.fv
  a.tcg(href="#")
    figure 
    .button
      h3
        .en
          | GAME
          span &amp;
          | TCG
        .ja ゲーム・TCG向け
      .arrow
        include ../../assets/img/common/arrow.svg
  a.cb(href="#") 
    figure 
    .button
      h3
        .en
          | CHILDENS’
          wbr
          | BOOK
        .ja 児童書向け
      .arrow
        include ../../assets/img/common/arrow.svg
