section#profile.profile
  .inner
    .icon
      figure 
    .main
      .content
        .head
          p name
          .name
            figure
            .sns
              a.x(href="https://x.com/kuroyagi_11", target="_blank", rel="noopener noreferrer")
              a.instagram(href="https://www.instagram.com/kuroyagi_11/")
        p.desc
          | 神奈川県在住のイラストレーター。
          br
          | シンプルでかわいいタッチのイラストと、リッチで迫力のあるイラストを使い分けることができます。キャラクターデザインも得意です。
          br
          | 好きなものはラーメンとゲームです。
        a.button(href="/assets/images/pdf/portfolio.pdf", target="_blank", rel="noopener noreferrer")
          figure 
          p
            | PDF版ポートフォリオ
            br.sm-only
            | （ダウンロード）
        dl
          dt 経歴
          dd 岩手大学農学部卒業。花の色の研究をしておりました。副業でイラストを描きながら惣菜調理、農業、ラーメン屋を経験したのち、2023年1月よりフリーランスイラストレーターとして活動しております。
          dt 挑戦したいこと
          dd お子様の勉強と遊びをイラストを通じてサポートしたいと考えています。勉強面では、理系の知識を活かして正確な動物のイラストを、遊び面では、かっこいいデザインのモンスターで楽しんでもらいたいと思っています。また、地元の神奈川や住んでいた岩手にイラストで貢献出来たら嬉しいです。
          dt 実績
          dd.result
            h4 2025
            ul
              li 7/20 鶴が丘自治会フリーマーケットにてワークショップ出店
              li 6/24 TeamRABI様うさぎトランプイラスト制作
              li 1/19 新春けもケット出展
              li 1/31 マイウェイ出版様『たっぷりわくわく！まちがいさがしタイム VOL.11』まちがいさがし4点制作
              li 3/1 カワけっと2出展
              li 5/18 関西けもケット10出展
              li 5/31 『小学一年生7月号（株式会社小学館様）』12点挿絵制作
            h4 2024
            ul
              li 1/21 新春けもケット10出展
              li ぬりえっこ！七海波音ちゃん コラボ塗り絵制作
              li 八幡平Fitness合同会社様 ロゴ制作
              li チョコザップ様 PR漫画制作
              li 5/19 関西けもケット出展
              li 6/1,2 博物マニア出展
              li 7/10〜7/16 CREATORS EXPRESS 東京駅『スクエアゼロ』デジタルサイネージ出展
              li 8/12 コミックマーケット104出展
              li 9/22 けもケット15出展
              li 『小学一年生（株式会社小学館様）数点挿絵制作
              li サウザンロード相模台商店会様 ごみひろいポスター制作
              li 12/24 どこでもキャッチャー様とのコラボ イラスト3点オンラインクレーンゲームのプライズ化

            h4 〜2023
            ul
              li Pokemon Trading Card Game イラストレーションコンテスト2022 2作品一次審査通過
              li 三陸鉄道イーハトーブカレンダー2024イラストコンテスト 10月採用
              li 絵本『どんまい！くろにゃんこ』出版
              li 株式会社UNDERFLOOR様 キャラクターデザイン制作
              li SnackTime株式会社様 キャラクターデザイン,イラスト制作
            h4 その他個人案件、非公開案件多数
            p （一枚絵、SDイラスト、イラスト漫画、絵柄合わせ等）
      h2
        span.ja わたしについて
        span.en PROFILE
  figure.sign-off
