mixin columnItem(num, date)
  li: a(href="#")
    figure
      img(src=`${pathToTop}topics_${num}.png`)
    .inner
      .meta
        span.date #{ date }
      block

section#topics.topics
  h2
    .en TOPICS
    .ja お知らせ
  ul
    +columnItem('1', '2024.11.29')
      p 小学一年生2025年1月号（小学館）イラスト担当いたしました。
    +columnItem('2', '2024.11.29')
      p 小学一年生2025年1月号（小学館）イラスト担当いたしました。
    +columnItem('3', '2024.11.29')
      p 小学一年生2025年1月号（小学館）イラスト担当いたしました。
