include topics_list

section#topics.topics
  h2
    .en TOPICS
    .ja お知らせ
  .cont
    ul
      +columnItem_6
      +columnItem_5
      +columnItem_4
    ul
      +columnItem_3
      +columnItem_2
      +columnItem_1
