mixin columnItem(num, date, category)
  li: a(href="#")
    figure
      img(src=`${pathToImgTop}topics_${num}.png`)
    .inner
      .meta
        span.date #{ date }
        span.category #{ category }
      block

section#topics.topics
  h2
    .en TOPICS
    .ja お知らせ
  ul
    +columnItem('1', '2024.10.02', 'イラストコンテスト')
      p ここに見出し
