section#work.work
  .inner
    .info
      h2
        .en WORKS
        .ja 作品一覧
      p 「小中学生の勉強も遊びも支えたい」をモットーに2つのテイストのイラストを得意にしています。
    .buttons
      a.tcg(href="/tcg/")
        figure 
        .button
          h3
            .en
              | GAME
              span &amp;
              | TCG
            .ja ゲーム・TCG向け
          .arrow
            include ../../assets/img/common/arrow.svg
      a.cb(href="/cb/") 
        figure 
        .button
          h3
            .en
              | CHILDREN'S&nbsp;
              wbr
              | BOOK
            .ja 児童書向け
          .arrow
            include ../../assets/img/common/arrow.svg
