extends _template/_base
include work/detail_cb

block vars
  - lev1ID = "top";
  - lev = 2;
  - titleChild = "WORK";

  block links
    link(href=`${pathToCSS}detail_cb.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(12,"CHILDRENS’BOOK | お仕事","小学一年生2025年1月号 「サンタクロースのひみつ」挿絵制作" , "2024.10", "4日","小学館様の学習雑誌『小学一年生』の挿絵9点制作いたしました。")

block scripts
  script(src=`${pathToJS}main.js`)
