extends _template/_base
include work/detail_cb

block vars
  - lev1ID = "work";
  - lev = 2;
  - titleChild = "作品一覧";

  block links
    link(href=`${pathToCSS}detail_cb.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(11,"CHILDRENS’BOOK | オリジナル","おまつりおきつね" , "2024.04", "2日","SNS投稿用自主制作です。")

block scripts
  script(src=`${pathToJS}main.js`)
