extends _template/_base
include work/detail_cb

block vars
  - lev1ID = "top";
  - lev = 2;
  - titleChild = "WORK";

  block links
    link(href=`${pathToCSS}detail_cb.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(3,"CHILDRENS’BOOK | お仕事","ごみひろいポスターイラスト" , "2023.06", "3日","サウザンロード相模台商店会のごみひろいポスターを制作いたしました。")

block scripts
  script(src=`${pathToJS}main.js`)
