extends _template/_base
include work/detail_tcg

block vars
  - lev1ID = "works";
  - lev = 2;
  - titleChild = "WORKS";

  block links
    link(href=`${pathToCSS}detail_tcg.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(7,"GAME&TCG | お仕事","剣士のうさぎ" , "2025.06", "2日","TeamRABI様のクラウドファンディング企画、うさぎトランプのイラストを描かせていただきました。スペード7を担当しております。スペードということで、剣士のうさぎをデザインしました。")

block scripts
  script(src=`${pathToJS}main.js`)
