extends _template/_base
include work/detail_bace

block vars
  - lev1ID = "work";
  - lev = 2;
  - titleChild = "作品一覧";

  block links
    link(href=`${pathToCSS}detail_bace.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(4,"GAME&TCG | オリジナル","初夏の空と三陸鉄道" , "2023.07", "2日","三陸鉄道イーハトーブカレンダー2024のコンテストに応募した作品です。")

block scripts
  script(src=`${pathToJS}main.js`)
