extends _template/_base
include work/detail_bace

block vars
  - lev1ID = "top";
  - lev = 2;
  - titleChild = "WORK";

  block links
    link(href=`${pathToCSS}detail_bace.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail("01","GAME&TCG | オリジナル","サンゴ礁のドラゴン" , "2024.10", "3日")
    p TCG想定でドラゴンを制作しました。

block scripts
  script(src=`${pathToJS}main.js`)
