extends _template/_base
include work/detail_tcg

block vars
  - lev1ID = "works";
  - lev = 2;
  - titleChild = "WORKS";

  block links
    link(href=`${pathToCSS}detail_tcg.css${hash}`, rel="stylesheet", type="text/css")

block main
  +detail(6,"GAME&TCG | オリジナル","サンゴ礁のドラゴン" , "2024.10", "3日","TCG想定でドラゴンを制作しました。")

block scripts
  script(src=`${pathToJS}main.js`)
