extends _template/_base

block vars
  - lev1ID = "top";

  block links
    link(href=`${pathToCSS}top.css${hash}`, rel="stylesheet", type="text/css")

block main
  include top/fv.pug
  include top/topics.pug
  include top/work.pug
  include top/contact.pug
