extends _template/_base
include topics/topics_bace

block vars
  - lev1ID = "topics";
  - lev = 2;
  - titleChild = "TOPICS";

  block links
    link(href=`${pathToCSS}topics_bace.css${hash}`, rel="stylesheet", type="text/css")

block main
  +topics("2024-11-29", "2024.11.29", "三陸鉄道様の2025年イーハトーブカレンダーに採用されました。", 1, "公募にて、1月のイラストとして採用されました。</br>「29歳の賢治が現代の釜石と釜石湾を仙人峠から望む。」がテーマで、2025年のスタートなので明るい雰囲気を意識しました。")

block scripts
  script(src=`${pathToJS}main.js`)
