@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.global-footer {
  background-color: var(--color-black);
  padding: 80px 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;

  @include mq.sm {
    padding: vw.sm(60) vw.sm(25);
    gap: vw.sm(30);
  }

  .page-top-link {
    height: 81px;
    width: 81px;
    border: solid 2px var(--color-white);
    position: absolute;
    top: 80px;
    right: 100px;
    border-radius: 100px;
    transition: 0.3s;

    @include mq.has-hover {
      &:hover {
        transform: translateY(-10px);
      }
    }

    @include mq.sm {
      height: vw.sm(60);
      width: vw.sm(60);
      top: auto;
      bottom: vw.sm(60);
      right: vw.sm(25);
    }

    .arrow {
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;

      svg {
        transform-origin: center;
        transform: rotate(-90deg);

        @include mq.sm {
          width: vw.sm(22);
          height: vw.sm(15);
        }

        path {
          stroke: var(--color-white);
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mq.sm {
      gap: vw.sm(10);
      align-items: center;
      width: 100%;
    }

    svg {
      aspect-ratio: 410 / 31;

      @include mq.sm {
        width: vw.sm(260);
      }
    }

    path {
      fill: var(--color-white);
    }

    p {
      @include typography.serif-regular;
      color: var(--color-white);
      font-size: 20px;

      @include mq.sm {
        font-size: vw.sm(16);
      }
    }
  }
  nav {
    @include typography.serif-bold;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: vw.lg(130);

      @include mq.sm {
        flex-direction: column;
        gap: vw.sm(25);
        margin-top: vw.sm(60);
      }

      li {
        a {
          color: var(--color-white);
          text-decoration: none;
          display: block;

          &:nth-of-type(2) {
            margin-top: 20px;

            @include mq.sm {
              margin-top: vw.sm(5);
            }
          }
        }

        .en {
          font-size: 36px;

          @include mq.sm {
            font-size: vw.sm(22);
          }
        }

        .ja {
          font-size: 16px;
          line-height: 2;

          @include mq.sm {
            font-size: vw.sm(14);
            font-weight: 500;
          }
        }
      }
    }
  }
  .sns {
    display: flex;
    align-items: center;
    gap: 25px;

    @include mq.sm {
      gap: vw.sm(20);
      margin-top: vw.sm(60);
    }

    a {
      display: block;
      path {
        fill: var(--color-white);
      }
      @include mq.lg {
        width: 32px;
      }

      @include mq.sm {
        width: vw.sm(25);
      }

      svg {
        width: 100%;
      }
    }

    .x {
      aspect-ratio: 32 / 30;
    }

    .instagram {
      aspect-ratio: 1 / 1;
    }
  }
  .copyright {
    color: var(--color-white);
    @include typography.serif-regular;
    font-weight: 300;

    @include mq.sm {
      font-size: vw.sm(12);
    }
  }
}
