@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

.global-header {
  background-color: var(--color-white);
  width: 100%;

  @include mq.lg {
    height: 100px;
  }

  @include mq.sm {
    height: vw.sm(70);
  }

  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: 34px;

    @include mq.sm {
      padding-inline: vw.sm(20);
    }

    .main {
      display: flex;
      gap: 30px;
      align-items: center;
      @include mq.sm {
        gap: vw.sm(44);
      }

      .logo {
        color: var(--color-black);
        text-decoration: none;
        margin-top: 9px;

        figure {
          @include path.bg-img("common/logo.svg");
          aspect-ratio: 350 / 29;

          @include mq.lg {
            height: 29px;
          }

          @include mq.sm {
            height: vw.sm(15);
          }
        }
        span {
          display: block;
          @include typography.serif-bold;
          font-size: 12px;
          margin: 3px 0 0 2px;

          @include mq.sm {
            font-size: vw.sm(10);
            margin: vw.sm(3) 0 0 vw.sm(2);
          }
        }
      }

      .sns {
        display: flex;
        align-items: center;
        gap: 25px;

        @include mq.sm {
          gap: vw.sm(20);
        }

        a {
          @include mq.lg {
            width: 32px;
          }

          @include mq.sm {
            width: vw.sm(25);
          }
        }

        .x {
          @include path.bg-img("common/x.svg");
          aspect-ratio: 32 / 30;
        }

        .instagram {
          @include path.bg-img("common/instagram.svg");
          aspect-ratio: 1 / 1;
        }
      }
    }

    .hamburger {
      --button-height: 25px;
      position: fixed;
      right: 35px;
      z-index: 2;
      display: flex;
      align-items: center;
      width: 35px;
      aspect-ratio: 35 / 25;
      height: var(--button-height);
      z-index: 3;
      pointer-events: auto;

      @include mq.sm {
        width: vw.sm(28);
        right: vw.sm(20);
        height: vw.sm(20);
        aspect-ratio: 28 / 20;
      }
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--color-black);
        border-radius: 3px;
        transition: 0.3s ease.$custom1;

        @include mq.sm {
          height: 2px;
        }

        &:first-of-type {
          transform: translateY(-11px) translateY(-50%);

          @include mq.sm {
            transform: translateY(vw.sm(-9)) translateY(-50%);
          }
        }
        &:last-of-type {
          transform: translateY(11px) translateY(-50%);
          @include mq.sm {
            transform: translateY(vw.sm(9)) translateY(-50%);
          }
        }
      }

      &.open {
        span {
          &:first-of-type {
            transform: rotate(45deg);
            background-color: var(--color-white);
          }
          &:last-of-type {
            transform: rotate(-45deg);
            background-color: var(--color-white);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
        }
      }
    }
  }
  nav {
    box-sizing: border-box;
    background-color: var(--color-black);
    height: 100vh;
    padding: 0 95px;
    position: absolute;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    // display: none;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.3s ease.$custom1;

    &.open {
      transform: translateX(0%);
    }

    @include mq.sm {
      width: 100%;
      padding: vw.sm(80) vw.sm(56);
      align-items: normal;
    }

    .inner {
      display: flex;
      align-items: flex-end;
      gap: 40px;

      @include mq.sm {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 45px;

      @include mq.sm {
        gap: vw.sm(25);
      }

      li {
        flex-direction: column;

        a {
          text-decoration: none;
          color: var(--color-white);
          @include typography.serif-regular;
          letter-spacing: 0.1rem;
          font-size: 36px;

          @include mq.sm {
            font-size: vw.sm(22);
          }
        }

        .ja {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 20px;

          a {
            @include typography.serif-main-lg;

            @include mq.sm {
              font-size: vw.sm(14);
            }
          }
        }
      }
    }

    .sns {
      display: flex;
      align-items: center;
      gap: 25px;

      @include mq.sm {
        gap: vw.sm(18);
      }

      a {
        width: 32px;
        height: 32px;

        @include mq.sm {
          height: vw.sm(32);
          width: vw.sm(32);
        }
      }

      svg {
        height: 100%;
        width: 100%;
      }
      path {
        fill: var(--color-white);
      }
    }
  }
}
