:root {
  --color-black: #333;
  --color-white: #fff;
  --color-yellow: #ddb25b;
  --color-blue: #5bb2dd;
  --color-gray: #d9d9d9;
  --font-gray: #9e9e9e;
}

html {
  font-feature-settings: "palt";
  scroll-behavior: smooth;
}
